<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Item list</h1>
    <div class="table-responsive-lg">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr class="">
                        <td scope="row">{{item.id }}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.item_price}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    
</body>
</html>   
